# created by virtualenv automatically
/venv/
/audio/
/downloads/
/configs/config.ini
*.session
/.idea/
*.session-journal
__pycache__/
sessions/
tmp/
*.mp3
*.wav
*.ogg
*.m4a
*.mp4
*.webm
*.jpg
*.jpeg
*.png
*_analysis/
logs/
.env
