openai
configparser
python-telegram-bot==21.5
python-dateutil
heroku3
requests>=2.32.2
aiomysql
python-dotenv
tiktoken>=0.7.0
beautifulsoup4>=4.12.3
pydub>=0.25.1

telethon>=1.36.0
pyyaml>=6.0.2

telethon>=1.36.0
pyyaml>=6.0.2


telethon>=1.36.0
pyyaml>=6.0.2


telethon>=1.36.0
pyyaml>=6.0.2


